{% extends './base.html' %}

{% block content %}
<br>
<br>
<div class="jumbotron container p-2 alert-danger text-center">
    <h1 class="display-3">Payment Failed</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam voluptatibus similique accusamus sit! Voluptatem sequi sed optio consectetur perspiciatis veritatis quisquam ex ab. Sed, officia! Deleniti labore quibusdam ipsam harum.</p>
    <hr class="my-2">
    <p>Your payment failed ..</p>
    
</div>
{% endblock content %}